@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
body {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(img.jpg) ;
  background-size: cover;
  

}

.space-login{
  margin: 0 !important;
display: flex;
justify-content:center  ;
align-items: center;

}
.label-login{
  color:#3788E7 ;
  padding-left: 5px;
  letter-spacing: 4px;
}